* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
}

img {
    width: 50px;
    height: 50px;
}

body {
    background-color: antiquewhite;
}

footer {
    background-color: gray;
}